body {
  padding: 0;
  margin: 0;
}

body * {
  user-select: none !important;
}

.font,
.font * {
  font-size: 14px;
  font-weight: bold !important;
  font-family: monospace !important;
  vertical-align: bottom !important;
}

.font-single {
  font-size: 14px;
  font-weight: bold !important;
  font-family: monospace !important;
  vertical-align: bottom !important;
}

.cursor * {
  cursor: default !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}