body {
  padding: 0;
  margin: 0;
}

.font * {
  font-size: 14px;
  font-weight: bold !important;
  font-family: monospace !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.element-hover, .element-active {
  animation-name: animation-element-hover;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes animation-element-hover {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes animation-element-hover {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}